<div class="container-fluid mt-5" *ngIf="project">
    <div class="pageTitle">
        <div class="titleImgs">
            <img *ngFor="let icon of project.titleIcons" src="{{ icon }}" alt="">
        </div>
        <h1><strong>{{ project.title }}</strong></h1>
    </div>
    <h2>{{ project.subtitle }} [<a class="my-4" href="{{ project.github }}" target="_blank">Github</a>]</h2>
    <!-- <hr class="my-0"> -->




    <div class="card">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item" *ngFor="let section of project.sections">
                <a class="nav-link" [ngClass]="{'active': activeSection === section.tabTitle}" (click)="setTab(section.tabTitle)">{{ section.tabTitle }}</a>
            </li>
        </ul>
        <div class="sections" *ngFor="let section of project.sections">
            <div *ngIf="activeSection === section.tabTitle">
                <h2 class="card-title my-4"><strong>{{ section.title }}</strong></h2>

                <div class="row" *ngFor="let subsection of section.subsections">
                    <div class="col-xxl-8">
                        <div *ngIf="subsection.content != ''">
                            <p *ngIf="subsection.content != ''" class="text-break lh-lg" [innerHTML]="subsection.content"></p>
                        </div>
                        <div *ngIf="subsection.listItems">
                            <ul>
                                <li class="text-break lh-lg" *ngFor="let item of subsection.listItems" [innerHtml]="item"></li>
                            </ul>
                        </div>
                        <div *ngIf="subsection.code">
                            <pre class="text-break" [innerHTML]="subsection.code">                             
                            </pre>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-xxl-6"  *ngFor="let image of subsection.imgs">
                                <img  src="{{ image }}" *ngIf="(section.tabTitle == 'Overview') || (section.tabTitle == 'Summary');" alt="" class="img-fluid" (click)="openPreview(image)">
                                <img  src="{{ image }}" *ngIf="(section.tabTitle != 'Overview') && (section.tabTitle != 'Summary');" alt="" class="img-fluid" (click)="openDetailPreview(image)">


                                <!-- <div class="detailImg" *ngIf="(section.tabTitle == 'Overview') || (section.tabTitle == 'Summary');">
                                    <img src="{{ image }}" alt="" class="img-fluid" (click)="openPreview(image)">
                                </div>
                                <div class="detailImg";>
                                    <img src="{{ image }}" alt="" class="img-fluid" (click)="openDetailPreview(image)">
                                </div> -->
                                <p>Click to Expand</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="image-preview-modal" *ngIf="showPreview" (click)="closePreview()">
    <img [src]="previewImage" alt="Preview Image" />
</div>

<div class="image-detail-preview-modal" *ngIf="showDetailPreview" (click)="closePreview()">
    <img [src]="detailPreviewImage" alt="Preview Image" />
</div>



<!-- Old tabs for reference -->






<!-- <mat-tab-group class="tabs" [selectedIndex]="activeTabIndex" (selectedIndexChange)="setActiveTab($event)">
    <mat-tab color="secondary" *ngFor="let section of project.sections" [label]="section.tabTitle"></mat-tab>
</mat-tab-group>


<div class="tab-content">

    <div *ngFor="let section of project.sections; let i = index" [hidden]="activeTabIndex !== i">

        <div class="card">

            <div class="sections">
                <div>
                    <h2 class="card-title"><strong>{{ section.title }}</strong></h2>
                    <div class="row" *ngFor="let subsection of section.subsections">
                        <div class="col-md-8">
                            <div>
                                <p class="text-break lh-lg" [innerHTML]="subsection.content"></p>
                            </div>
                            <div *ngIf="subsection.listItems">
                                <ul>
                                    <li class="text-break lh-lg" *ngFor="let item of subsection.listItems"
                                        [innerHtml]="item"></li>
                                </ul>
                            </div>
                            <div *ngIf="subsection.code">
                                <pre class="text-break" [innerHTML]="subsection.code">
                                </pre>
                            </div>
                        </div>


                        <div class="col-md-8" *ngIf="subsection.imgs && subsection.imgs.length > 0"
                            class="detailImgs">
                            <div *ngFor="let image of subsection.imgs">
                                <div
                                    *ngIf="(section.tabTitle == 'Overview') || (section.tabTitle == 'Summary'); else detail">
                                    <img src="{{ image }}" alt="" class="img-fluid" (click)="openPreview(image)">
                                </div>
                                <ng-template #detail>
                                    <img src="{{ image }}" alt="" class="img-fluid"
                                        (click)="openDetailPreview(image)">
                                </ng-template>
                                <p>Click to Expand</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->