.container-fluid {
    padding-bottom: 3rem;
}
.pageTitle {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    & .titleImgs{
        display: flex;
        gap: 2rem;
        & img {
            height: clamp(50px, 2.5vw, 75px);;
        }
    }
}

.container-fluid h1, .container-fluid h2, .container-fluid h3 {
    text-align: center;
}
.container-fluid h2 {
    & a{
        letter-spacing: .15rem;
        text-decoration: none;
        font-family: monospace;
        color: #211e6d;
    }
    & a:hover{
        color: #a153f8;
    }
    & img {
        height: 1.25em;
        width: auto;
        padding: .25rem;
    }
}

.nav-tabs {
    // position: sticky;
    // top: 0px;
    // z-index: 1000;
    background-color: #f5f5f5;
    border: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 60px;
    white-space: nowrap;
    flex-wrap: nowrap;
    // -webkit-overflow-scrolling: touch;
}

.flipped {
    position: sticky;
    top: 100px;
    z-index: 1000;
}




.nav-tabs .nav-item {
    flex-shrink: 0;
}

.nav-item {
    cursor: pointer;
    font-weight: bold;
    // max-width: 150px !important;
    min-width: clamp(75px, 7vw, 150px);
}

.nav-link{
    color: #0a1927;
    &:hover{
        color: #222ceb;
    }
    overflow-y: hidden;
    border: 1px solid #00000044 !important;
}

.active {
    color: #222ceb !important;
    background-color: #f5f5f5 !important;
    border: 1px solid #00000044 !important;
    border-bottom: 0 !important;
}


.card {
    padding-top: 0;
    border-top: 0;
    background-color: #f5f5f5;
    padding-bottom: 5rem;
}
p {
    font-weight: 425;
    padding: 1rem;
    font-family: "Roboto Condensed", sans-serif;
}




.sections {
    & img {
        padding-right: 2rem;
        padding-left: 2rem;
        width: clamp(700px, 50vw, 800px);
        padding-bottom: 0;
    }

    & ul {
        // padding: .5rem;
        font-weight: bold;
    }
    & p {
        // padding: 1rem;
    }
}

.expand {
    padding: .75rem;
    opacity: 50%;
}

.introSummaryImg {
    max-width: clamp(400px, 50vw, 550px);
}


.row {
    justify-content: center;
    align-items: center;
}

.col-xxl-6, .col-xxl-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

pre {
    background-color: #e4e4e4;
    overflow: auto;
    font-family: 'Monaco', monospace;
    padding: 0 1em;
    width: 50vw;
    font-weight: 600;
}

.image-preview-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
  }
  
  .image-preview-modal img {
    width: clamp(600px, 50vw, 1000px);
    height: auto;
    background-color: #f5f5f5;
    padding: .5rem;
    border-radius: 5px;
    padding: 1rem;
  }


  .image-detail-preview-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
  }
  
  .image-detail-preview-modal img {
    width: clamp(300px, 50vw, 1200px);
    height: auto;
    // background-color: #f5f5f5;
    background-color: white;
    // padding: .5rem;
    border-radius: 5px;
    padding: .2rem;
  }

@media(max-width: 1400px) {
    pre {
        width: 90vw;
        font-size: .6rem;
    }

    .image-preview-modal img {
        width: 95vw;
        height: auto;
    }

    .image-detail-preview-modal img {
        width: 95vw;
        height: auto;

    }
    
}

@media(max-width: 1000px) {
    .nav-item {
        cursor: pointer;
        font-weight: bold;
        // min-width: 75px !important;
        font-size: smaller;
    }
    
}





// mat tabs css, remove later if not needed
// .tabs {
//     position: sticky;
//     top: 0;
//     z-index: 1000;
//     background-color: #f5f5f5;
//     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
//     border: 1px solid #00000017;
//     border-left: 0;
//     border-right: 0;
// }


// mat tabs css, remove later if not needed
// ::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
//     border-color: #C28422 !important;
// }
// ::ng-deep .mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
//     --mat-tab-header-active-label-text-color: #C28422 !important;
//     --mat-tab-header-active-focus-label-text-color: #C28422;
// }