<div class="container mt-5">
    <div class="card p-4 mb-4 shadow-sm">
        <div class="card-body">
            <div class="profile-name">Stephen Yuhas</div>
            <hr>
            <div class="contact-details">
                <p class="card-text"><strong>Location: </strong>Ijamsville, MD</p>
                <p class="card-text"><strong>Phone: </strong>(443)-610-0984</p>
                <p class="card-text"><strong>Email: </strong> <a href="mailto:syuhas22@gmail.com">syuhas22&#64;gmail.com</a></p>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Summary</h2>
            <p>Adaptable and driven IT professional with experience in AWS and DevOps automation. Over the past two years I've developed skills and expertise in delivering automation solutions and managing technical projects, earned two AWS certifications, and am pursuing a BS in Computer Science.</p>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Skills</h2>
            <ul class="list-unstyled">
                <li><strong>AWS Services</strong></li>
                <li><strong>CI/CD & Automation Scripting </strong>(Python, Bash, OOP)</li>
                <li><strong>Web Applications and API's </strong>(Flask, FastAPI, Angular)</li>
                <li><strong>Cloud Network Security</strong></li>
                <li><strong>Strong Communication</strong></li>
                <li><strong>Project Management</strong></li>
                <li><strong>Critical Thinking</strong></li>
            </ul>
        </div>
    </div>

    <!-- <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Certifications</h2>
            <ul class="list-unstyled" id="certifications">
                <li><button class="btn" (click)="goToBadgeSAA()"><strong>AWS Certified Solutions Architect – Associate</strong></button></li>
                <li><button class="btn" (click)="goToBadgeCCP()"><strong>AWS Certified Cloud Practitioner</strong></button></li>
            </ul>
        </div>
    </div> -->

    <div class="card mb-4 shadow-sm">
        <div class="card-body" id="certifications">
            <h2 class="card-title">Certifications</h2>
            <div id="badges">
                <div class="row">
                    <div class="col">
                        <button class="btn" (click)="goToBadgeSAA()"><img src="/assets/home-images/saa.png" alt="" class="img-fluid"></button>
                    </div>
                    <div class="col">
                        <button class="btn" (click)="goToBadgeCCP()"><img src="/assets/home-images/ccp.png" alt="" class="img-fluid"></button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Technologies</h2>
            <ul class="list-unstyled">
                <li><strong>CI/CD/Automation:</strong> Jenkins, CodePipeline, Terraform, AWS CloudFormation, Rundeck</li>
                <li><strong>Containerization:</strong> Docker, Kubernetes, AWS Elastic Container Service (ECS)</li>
                <li><strong>Collaboration:</strong> Jira, Confluence, Asana</li>
                <li><strong>Database/Storage:</strong> PostgreSQL, GraphQL, DynamoDB, S3, AWS Athena</li>
                <li><strong>Version Control:</strong> Bitbucket, GitHub</li>
                <li><strong>Monitoring/Logging:</strong> Splunk, Cribl, AWS CloudWatch, AWS CloudTrail</li>
                <li><strong>Languages:</strong> Python, TypeScript, Bash, JavaScript, Groovy, SQL, HTML/CSS, C++, Java, PHP</li>
            </ul>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body" id="download">
            <h2 class="card-title">Download</h2>
            <div id="downloads">
                <div class="row">
                    <div class="col">
                        <button class="btn" (click)="goToBadgeSAA()"><img src="/assets/home-images/pdf.png" alt="" class="img-fluid"></button>
                    </div>
                    <div class="col">
                        <button class="btn" (click)="goToBadgeCCP()"><img src="/assets/home-images/word.png" alt="" class="img-fluid"></button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Professional Experience</h2>

            <h3><strong>Tential Solutions</strong> - Release Engineer | Developer (sub-contractor)</h3>
            <p><strong>Assignments:</strong></p>
            <div class="card-body">
                <h3><strong>FINRA (Financial Industry Regulatory Authority)</strong></h3>
                <p><strong>Location:</strong> Rockville, MD</p>
                <p><strong>Duration:</strong> July 2023 – Oct. 2024</p>
                <ul>
                    <li>Developed and maintained applications for reporting, monitoring Jira, AWS, and Jenkins activities, and automating IAM role entitlements to reduce operational workload</li>
                    <li>Scheduled daily production and development activities for the release team using Jira</li>
                    <li>Managed daily Jenkins production deployments and diagnosed and remediated resource and access issues</li>
                    <li>Configured IAM roles, policies, and users to ensure secure access to AWS resources</li>
                    <li>Led the development of Version 2 of our internal deployments scheduling and application monitoring suite of tools</li>
                    <li>Created automated reporting to monitor resource utilization and maintain security compliance</li>
                    <li>Developed cross-region database replication automation for databases in over 100 AWS accounts</li>
                    <li>Contributed Jira automation to an initiative aimed at streamlining our path to production for app teams</li>
                    <li>Developed an automated solution using Athena to query S3 inventory across the organization, providing insights into bucket
                        usage, user activity, data uploads, and storage size, including bucket and prefix-level analysis
                    </li>

                </ul>
            </div>
            
            <h3><strong>Brightport Managed Solutions LLC.</strong> - Data Analyst | IT Project Manager (sub-contractor)</h3>
            <p><strong>Assignments:</strong></p>
            <div class="card-body">
                <h3><strong>Baltimore County School System</strong></h3>
                <p><strong>Location:</strong> Towson, MD</p>
                <p><strong>Duration:</strong> March 2023 – July 2023</p>
                <ul>
                    <li>Investigated data integrity and vulnerability issues after a malware attack causing significant data loss</li>
                    <li>Reviewed and updated data entries, correcting outdated or incorrect health subscriber information</li>
                    <li>Identified bugs in the new database implementation and collaborated with the database team to address them</li>
                    <li>Recovered critical data, enabling users to regain access to job and retirement health benefits</li>
                    <li>Automated data review processes, improving recovery efficiency and accuracy</li>
                </ul>
            </div>
            <div class="card-body">
                <h3><strong>Mental Health Association of Maryland</strong></h3>
                <p><strong>Location:</strong> Lutherville, MD</p>
                <p><strong>Duration:</strong> Jan 2023 – July 2023</p>
                <ul>
                    <li>Gathered user story data for current company processes to analyze and extract pain points and requirements</li>
                    <li>Collaborated with behavioral health teams to translate their needs into actionable IT solutions</li>
                    <li>Coordinated with vendors to manage existing tools, resolve software issues, and assess new solutions for the organization</li>
                    <li>Led implementation of new scheduling software that optimized route planning and team organization for the site visit team</li>
                    <li>Streamlined hospital and clinic contact data in the scheduling system to highlight key organizational points of contact</li>
                </ul>
            </div>

            <h3><strong>The Ale House</strong> - Executive Chef</h3>
            <p><strong>Location:</strong> Columbia, MD</p>
            <p><strong>Duration:</strong> 2019 - 2023</p>
            <ul>
                <li>Guided and mentored a team of professionals to execute efficiently and consistently</li>
                <li>Developed unique menu items to deliver business value while keeping customer satisfaction at the forefront</li>
                <li>Created and fostered relationships with key vendors/representatives</li>
                <li>Utilized company software to manage and produce detailed reports on budget and variable cost controls</li>
            </ul>
            
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Education</h2>
            <p><strong>Pursuing B.S. Computer Science</strong> (Est. completion 2026)</p>
            <p><strong>Current:</strong> Howard Community College</p>
            <p><strong>Certificate:</strong> Culinary Arts - Anne Arundel Community College 2012</p>
        </div>
    </div>
</div>