<div class="container mt-5">
    <div class="card p-4 mb-4">
        <div class="card-body">
            <div class="header">
                <!-- <img src="/assets/home-images/resume.png" alt=""> -->
                <h1 class="profile-name">Stephen Yuhas</h1>
            </div>
            <hr>
            <div class="contact-details">
                <p class="card-text">Location: <strong>Ijamsville, MD</strong></p>
                <p class="card-text">Phone: <strong>(443)-610-0984</strong></p>
                <p class="card-text">Email: <strong> <a href="mailto:syuhas22@gmail.com">syuhas22&#64;gmail.com</a></strong></p>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Career Profile</h2>
            <p class="text-break" [ngClass]="(isSmallScreen$ | async) ? 'lh-sm' : 'lh-lg'">Adaptable technologist specializing in DevOps and Release Engineering, with experience in healthcare and finance. Over 10 years of leadership in high-pressure culinary operations as an Executive Chef, transitioning into technology with a strong ability to optimize workflows and cloud-based solutions, lead cross-functional teams, and drive efficiency under demanding conditions. Passionate about clean, well-structured technology stacks, focusing on building a strong engineering foundation with the guardrails and safety measures in place to enable scalable, reliable, and efficient development.
            </p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Skills</h2>
            <ul class="list-unstyled text-break" [ngClass]="(isSmallScreen$ | async) ? 'lh-sm' : 'lh-lg'">
                <li><strong>CI/CD Automation</strong></li>
                <li><strong>Cloud Computing </strong></li>
                <li><strong>Object-Oriented Programming</strong></li>
                <li><strong>Web Applications & APIs</strong></li>
                <li><strong>Strong Communication</strong></li>
                <li><strong>Team Management</strong></li>
                <li><strong>Cross-Functional Collaboration</strong></li>
                <li><strong>Critical Thinking and Problem Solving</strong></li>
            </ul>
        </div>
    </div>

    <!-- <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Certifications</h2>
            <ul class="list-unstyled" id="certifications">
                <li><button class="btn" (click)="goToBadgeSAA()"><strong>AWS Certified Solutions Architect – Associate</strong></button></li>
                <li><button class="btn" (click)="goToBadgeCCP()"><strong>AWS Certified Cloud Practitioner</strong></button></li>
            </ul>
        </div>
    </div> -->

    <div class="card mb-4">
        <div class="card-body" id="certifications">
            <h2 class="card-title">Certifications</h2>
            <div id="badges">
                <div class="row">
                    <div class="col">
                        <button class="btn" (click)="goToBadgeSAA()"><img src="/assets/home-images/saa.png" alt="" class="img-fluid"></button>
                    </div>
                    <div class="col">
                        <button class="btn" (click)="goToBadgeCCP()"><img src="/assets/home-images/ccp.png" alt="" class="img-fluid"></button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Technologies</h2>
            <ul class="list-unstyled text-break" [ngClass]="(isSmallScreen$ | async) ? 'lh-sm' : 'lh-lg'">
                <li><strong>Cloud Platforms:</strong> Amazon Web Services (AWS), Microsoft Azure</li>
                <li><strong>Languages:</strong> Python, JavaScript/Typescript, PHP, Java, Bash, SQL, Groovy</li>
                <li><strong>CI/CD/Automation:</strong> Jenkins, Terraform, CloudFormation, Rundeck</li>
                <li><strong>Containerization:</strong> Docker, Kubernetes</li>
                <li><strong>Collaboration:</strong> Jira, Confluence, Asana</li>
                <li><strong>Database/Storage:</strong> MySQL, PostgreSQL, DynamoDB, S3/Athena</li>
                <li><strong>Monitoring/Logging:</strong> Splunk, Cribl, AWS CloudWatch, AWS CloudTrail</li>
            </ul>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body" id="download">
            <h2 class="card-title">Download</h2>
            <div id="downloads">
                <div class="row">
                    <div class="col">
                        <button class="btn" (click)="downloadResumePdf()"><img src="/assets/home-images/pdf.png" alt="" class="img-fluid"></button>
                    </div>
                    <div class="col">
                        <button class="btn" (click)="downloadResumeDoc()"><img src="/assets/home-images/word.png" alt="" class="img-fluid"></button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4 experience">
        <div class="card-body">
            <h2 class="card-title">Professional Experience</h2>
            <div class="card-body">
                <h3><strong>DevOps Release Engineer</strong></h3>
                <h3>FINRA (Financial Industry Regulatory Authority)</h3>
                <p>Rockville, MD</p>
                <p>July 2023 – Oct. 2024</p>
                <ul class="text-break" [ngClass]="(isSmallScreen$ | async) ? 'lh-sm' : 'lh-lg'">
                    <li>Oversaw and ensured successful daily production deployments for scheduled releases. Leveraged in-depth knowledge of deployment pipelines and AWS resources to identify and correct configuration or access issues.</li>
                    <li>Coordinated with Operations and Application teams, utilizing Jira to organize weekly release schedules for 100’s of applications within the organization.</li>
                    <li>Managed access to IAM roles and policies for application teams, creating custom roles and policies for specific use cases while ensuring adherence to the principle of least privilege.</li>
                    <li>Created daily reporting tools, developed custom applications, and implemented automated solutions to streamline processes for monitoring resource utilization, security compliance, and S3 inventory analysis.</li>
                    <li>Wrote and updated weekly Groovy scripts for Jenkins pipelines to ensure clean and efficient production releases.</li>
                    <li><strong>Key Projects:</strong></li>
                    <ul>
                        <li><strong>Lambda Automation for Cross-Region Backups:</strong> Created AWS Lambda functions to automate the enrollment of app teams in cross-region backup solutions, ensuring improved data redundancy and availability.</li>
                        <li><strong>Jira Automation for Deployment Scheduling:</strong> Developed Jira automation workflows to streamline deployment scheduling for multiple app teams, reducing administrative overhead</li>
                        <li><strong>S3 Inventory Tracking:</strong> Designed and implemented an automated solution using Athena to track S3 inventory across 100’s of AWS accounts, providing insights into resource usage, storage size, and activity patterns.</li>
                        <li><strong>Internal Deployment Scheduling and Monitoring Tools:</strong> Contributed to Version 2.0 of internal deployment scheduling and monitoring tools, including custom Jira dashboards, AWS Lambda Canary monitoring, and Jira ticket automation, to optimize deployment processes and improve visibility across teams.</li>
                    </ul>

                </ul>
            </div>
            
            <div class="card-body">
            <h3><strong>Data Analyst</strong></h3>
                <h3>Baltimore County School System</h3>
                <p>Towson, MD</p>
                <p>March 2023 – July 2023</p>
                <ul class="text-break" [ngClass]="(isSmallScreen$ | async) ? 'lh-sm' : 'lh-lg'">
                    <li>Investigated and remediated data integrity and vulnerability issues following a malware attack that caused significant data loss resulting in loss of health coverage for employees.</li>
                    <li>Created automated data review processes to identify errors in data entries and correct outdated or erroneous health subscriber information.</li>
                    <li>Identified bugs in the new database implementation and collaborated with the database team to address the root cause and prevent future data errors.</li>
                    <li>Recovered critical data, enabling users to regain access to job and retirement health benefits.</li>
                </ul>
            </div>
            <div class="card-body">
                <h3><strong>IT Project Manager</strong></h3>
                <h3>Mental Health Association of Maryland</h3>
                <p>Lutherville, MD</p>
                <p>Jan 2023 – July 2023</p>
                <ul class="text-break" [ngClass]="(isSmallScreen$ | async) ? 'lh-sm' : 'lh-lg'">
                    <li>Gathered user story data for current company processes to analyze and extract pain points and requirements to recommend software solutions.</li>
                    <li>Collaborated with behavioral health teams to translate their needs into actionable IT solutions.</li>
                    <li>Coordinated with vendors to manage existing tools, resolve software issues, and assess new solutions for the organization.</li>
                    <li>Led implementation of new scheduling software that optimized route planning and team organization for the site visit team</li>
                </ul>
            </div>

            <div class="card-body">
                <h3><strong>Executive Chef</strong></h3>
                <h3>The Ale House Columbia</h3>
                <p>Columbia, MD</p>
                <p>2019 - 2023</p>
                <ul class="text-break" [ngClass]="(isSmallScreen$ | async) ? 'lh-sm' : 'lh-lg'">
                    <li>Guided and mentored a team of professionals to execute efficiently and consistently.</li>
                    <li>Utilized company systems to manage and produce detailed reports on budget and variable cost controls. Maintained a consistent weekly food cost of 29%.</li>
                    <li>Scheduled and monitored staff shifts to keep labor costs below 30% while maintaining staffing requirements.</li>
                    <li>Developed unique weekly and permanent menu items to deliver business value while keeping customer satisfaction at the forefront.</li>
                    <li>Created and fostered relationships with key vendors/representatives to ensure access to consistent high-quality product at optimal cost.</li>
                </ul>
            </div>
            
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Education</h2>
            <p><strong>Pursuing B.S. Computer Science</strong></p>
            <p><strong>Current:</strong> Howard Community College</p>
            <p><strong>Certificate:</strong> Culinary Arts - Anne Arundel Community College 2012</p>
        </div>
    </div>
</div>