.container {
    padding-bottom: 3rem;
    font-family: "Roboto Condensed", sans-serif;
}

.profile-name {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    // padding: 1rem;
}
.header {
    position: relative; /* Ensure the parent container is positioned */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.75em; /* Adjust font size as needed */
    color: #333; /* Text color */
    & a {
        color: #222ceb;
    }
}

.header::before {
    content: url('/assets/home-images/resume.png');
    position: absolute;
    top: 400%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0.1;
    z-index: 1;
    object-fit: contain;
    pointer-events: none;
}

.header div {
    position: relative;
    z-index: 2;
}



.contact-details {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 5vw;
    padding-top: 1rem;
}

.card {
    background-color: #161e2706;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.636);
    color: #444A53;
}

#certifications #badges {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    & .row {
        display: flex;
        gap: 8rem;
    }
    & img{
        width: clamp(80px, 8vw, 150px);
    }
}

#certifications button {
    color: blue;
    font-weight: 300;
}

#certifications button:hover {
    color: rgba(0, 0, 255, 0.75);
    font-weight: 600;
}

#download #downloads {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    & .row {
        display: flex;
        gap: 8rem;
    }
    & img{
        width: clamp(80px, 8vw, 150px);
    }
}

.lh-sm {
    font-size: smaller;
}

@media (max-width: 960px) {
    .contact-details {
        flex-direction: column;
        align-items: center;
    }
    #certifications #badges {
        & .row {
            gap: 1rem;
        }
    }
    #download #downloads {
        & .row {
            gap: 1rem;
        }
    }
    .experience {
        & h3 {
            font-size: medium;
        }
        & p {
            font-size: small;
        }
        & ul {
            font-size: smaller;
        }
    }
}