.container {
    padding-bottom: 3rem;
}

.profile-name {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
}

// .header {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-content: center;
//     align-items: center;
//     & div {
//         position: relative;
//         z-index: 2;
//         font-weight: bold;
//         font-size: 1.75em; /* Adjust font size as needed */
//         color: #333; /* Text color */
//     }
//     // & img {
//     //     height: clamp(60px, 4vw, 75px);
//     // }
// }

// .header::before {
//     content: url('/assets/home-images/resume.png');
//     position: absolute;
//     top: 0;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     opacity: 0.1;
//     z-index: 1;
//     width: 150px; /* Adjust width */
//     height: auto;
// }

.header {
    position: relative; /* Ensure the parent container is positioned */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.75em; /* Adjust font size as needed */
    color: #333; /* Text color */
    & a {
        color: #222ceb;
    }
}

.header::before {
    content: url('/assets/home-images/resume.png'); /* Adjust your path */
    position: absolute;
    top: 400%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4); /* Scale the image */
    opacity: 0.1; /* Faded effect */
    z-index: 1; /* Behind the text */
    object-fit: contain; /* Maintain the aspect ratio */
    pointer-events: none; /* Prevent interaction with the image */
}

.header div {
    position: relative; /* Ensure text is above the image */
    z-index: 2;
}



.contact-details {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 5vw;
    padding-top: 1rem;
}

.card {
    // background-color: rgb(245, 245, 245);
    background-color: #161e2706;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.636);
    color: #444A53;
}

#certifications #badges {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    & .row {
        display: flex;
        gap: 8rem;
    }
    & img{
        max-width: 5vw;
        min-width: 90px;
    }
}

#certifications button {
    color: blue;
    font-weight: 300;
}

#certifications button:hover {
    color: rgba(0, 0, 255, 0.75);
    font-weight: 600;
}

#download #downloads {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    & .row {
        display: flex;
        gap: 8rem;
    }
    & img{
        max-width: 4vw;
        min-width: 80px;
    }
}

@media (max-width: 960px) {
    .contact-details {
        flex-direction: column;
        align-items: center;
    }
    #certifications #badges {
        & .row {
            gap: 2rem;
        }
    }
    #download #downloads {
        & .row {
            gap: 4rem;
        }
    }
}