
.pageWrapper {
  min-height: calc(100vh - 200px);
  color: #444A53;
  padding-bottom: 3rem;
  font-family: "Roboto Condensed", sans-serif;

}

.card {
  background-color: #f5f5f5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.636);
  color: #444A53;
  border-color: #1a1c42;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portrait-container {
  min-width: 150px;
  & img {
    width: clamp(180px, 13vw, 250px);
  }
  z-index: 1;
}
.name-container{
  display: grid;
  justify-content: center;
  & .name {
    font-style: italic;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    margin: 0;
    font-weight: 700;
    font-size: clamp(1.25rem, 2.25vw, 2rem);
    animation: fadeInSpaceIn 1.3s ease-in-out;
  }
  & .title {
    font-style: italic;
    letter-spacing: .2rem;
    font-size: 1.25rem;
    margin: 0;
    font-weight: 500;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    padding-left: 6vw;
    animation: fadeInSpaceOut 1.3s ease-in-out;
  }
}

hr {
  border-top: 3px solid #1a1c42;
}

.banner-container {
  display: flex;
  width: 100%;
  justify-content: center;
  & img {
    width: clamp(400px, 70%, 750px);
  }
}
.certifications {
  display: flex;
  justify-content: center;

  & img {
    width: clamp(160px, 15vw, 200px);
    padding: 2rem;
    height: auto;
    object-fit: cover;
  }
}


.card-title {
  letter-spacing: .05rem;
}
@media (max-width: 960px) {
  .card {
    width: 100%;
    margin: auto;
  }
  .text-break {
    width: 100%;
  }
}



@keyframes fadeInSpaceIn {
  from {
    opacity: 0;
    padding-left: 6vw;
  }
  to {
    opacity: 1;
    padding-left: 0;
  }
}

@keyframes fadeInSpaceOut {
  from {
    opacity: 0;
    padding-left: 0;
  }
  to {
    opacity: 1;
    padding-left: 6vw;
  }
}












  // background: linear-gradient(
  //   to bottom,
  //   #1a1c42 2%,
  //   #7b3db6 40%,
  //   #1a1c42 30%,
  //   rgba(0, 0, 0, 0) 20%
  // );


  // .imgwrapper {
  //   background: linear-gradient(to bottom, #1a1c42 40%, rgba(0, 0, 0, 0) 10%);
  //   margin: auto;
  //   border-radius: 30px;
  //   display: flex;
  //   justify-content: center;
  //   position: relative;
  //   & img {
  //     width: clamp(1000px, 35vw, 1500px);
  //     text-align: center;
  //     border-radius: 10px;
  //     z-index: 1;
  //   }
  //   // border-bottom: 1px solid #1a1c42;
  //   // border-right: 1px solid #1a1c42;
  //   // border-left: 1px solid #1a1c42;
  //   margin-bottom: 3rem;
  //   // box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.636);
  // }
  
  // // .imgwrapper::before {
  // //   content: "";
  // //   position: absolute;
  // //   bottom: 0;
  // //   width: 80%;
  // //   min-width: 970px;
  // //   height: 60%;
  // //   background: linear-gradient(to top, white 100%, rgba(0, 0, 0, 0) 90%);
  // //   border-top-left-radius: 30px;
  // //   border-top-right-radius: 30px;
  // //   z-index: 0;
  // // }

  // .name-container{
  //   display: grid;
  //   justify-content: center;
  //   grid-template-rows: auto auto;
  //   row-gap: .25rem;
  //   & .name {
  //     font-style: italic;
  //     letter-spacing: .2rem;
  //     font-size: 1.5rem;
  //     margin: 0;
  //     font-weight: 700;
  //     font-size: clamp(1.3rem, 3vw, 2rem);
  //     animation: fadeInSpaceIn 1.3s ease-in-out;
  //   }
  //   & .title {
  //     font-style: italic;
  //     letter-spacing: .2rem;
  //     font-size: 1.25rem;
  //     margin: 0;
  //     font-weight: 500;
  //     font-size: clamp(.6rem, 2vw, 1.5rem);
  //     padding-left: 6vw;
  //     animation: fadeInSpaceOut 1.3s ease-in-out;
  //   }
  // }

  // .name-container-mobile, .imgwrapper-mobile {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   padding: 0;
  //   & .banner-container {
  //     background: linear-gradient(to bottom, #1a1c42 40%, rgba(0, 0, 0, 0) 10%);
  //     width: 100%;
  //     display: flex;
  //     align-items: center;
  //     // border: 1px solid #1a1c42;
  //     border-radius: 30px;
  //     flex-direction: column;
  //   }
  //   & .face {
  //     width: clamp(100px, 12vw, 150px);
  //     padding: .25rem;
  //     margin-right: 40vw;
  //     padding-bottom: 0;
  
  //   }
  //   & .banner {
  //     width: clamp(500px, 100%, 800px);
  //     padding: 1rem;
  //     padding-top: 0;
  //   }
  // }
  
  // .imgwrapper-mobile {
  //   margin-bottom: 1rem;
  //   // box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.636);
  //   border-radius: 10px;
  // }
  
  // .name-container-mobile {
  //   & .name {
  //     animation: fadeInSpaceInSmall 1.2s ease-in-out;
  //     padding-right: 20vw;
  //     margin: 0;
  //   }
  //   & .title {
  //     padding-left: 10vw;
  //     animation: fadeInSpaceOutSmall 1.2s ease-in-out;
  //     white-space: nowrap;
  //     margin: 0;
  //   }
  // }
  
  // @keyframes fadeInSpaceInSmall {
  //   from {
  //     opacity: 0;
  //     padding-right: 0;
  //   }
  //   to {
  //     opacity: 1;
  //     padding-right: 20vw;
  //   }
  // }
  
  // @keyframes fadeInSpaceOutSmall {
  //   from {
  //     opacity: 0;
  //     padding-left: 0;
  //   }
  //   to {
  //     opacity: 1;
  //     padding-left: 10vw;
  //   }
  // }