<div class="container mt-4">


    <!-- Hero Section -->
    <div class="jumbotron text-center">
        <h1 class="display-4"><strong>Stephen Yuhas</strong></h1>
        <p class="lead"><strong>DevOps | AWS | Release Engineering</strong></p>
        <hr class="my-4">
        
    </div>

    <!-- Content Sections -->
    <div class="row">

        <!-- About Me Card -->
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title"><strong>About Me</strong></h3>
                    <p class="text-break lh-lg">
                        With a strong passion for IT and cloud computing, I transitioned into the tech field after over a decade
                        of dedication to my previous career. In the last two years, I have built a solid foundation in Amazon
                        Web Services (AWS), DevOps, and software development, earning multiple AWS certifications and gaining
                        hands-on experience in a variety of roles.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!-- Additional Info or Project Section -->
    <div class="row">
        <!-- Experience Card -->
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title"><strong>Experience</strong></h3>
                    <p class="text-break lh-lg">Most recently, I spent nearly a year and a half as a Release Engineer and Developer, where I was
                        responsible for
                    </p>
        
                    
                    <ul class="text-break lh-lg">
                        <li>Developing and maintaining applications for internal reporting, monitoring tools, and automated IAM
                            role management to streamline operations.</li>
                        <li>Managing Jenkins production deployments and troubleshooting issues to ensure smooth and reliable
                            release cycles.</li>
                        <li>Leading the development of key automation solutions, such as custom Jira dashboards, AWS Lambda
                            Canary monitoring, and cross-region database replication across 100+ AWS accounts.</li>
                        <li>Creating automated reporting to monitor resource utilization and maintain security compliance, as
                            well as solutions using Athena for analyzing S3 usage data.</li>
                    </ul>
        
                    <p class="text-break lh-lg">These experiences have deepened my expertise in automation, cloud resource management, and CI/CD
                        processes. I am continually learning and pushing my skills further through additional studies and
                        hands-on projects.
                    </p>
        
                    <p class="text-break lh-lg">This website serves as a showcase of my journey, a catalog of my projects, and a space for new ideas and
                        skills as they develop. Thank you for visiting, and I hope you enjoy exploring my work!</p>
        
                    <p style="text-shadow: .1px .1px .2px black; font-style: italic; text-align: center; opacity: 50%;">~&nbsp; Stephen Yuhas
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Certifications Card -->
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title"><strong>Certifications</strong></h3>
                    <div class="certifications">
                        <img src="/assets/home-images/certs2.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>