
.container {
  min-height: calc(100vh - 200px);
  color: #444A53;
  padding-bottom: 3rem;
  font-family: "Roboto Condensed", sans-serif;

}

.text-center img{
  width: clamp(450px, 30vw, 650px);
  // padding-bottom: 2rem;
}

hr {
  border-top: 3px solid black;
}

.certifications {
  display: flex;
  justify-content: center;

  & img {
    width: clamp(160px, 15vw, 200px);
    padding: 2rem;
    height: auto;
    object-fit: cover;
  }
}

.card {
  margin: 1rem;
  min-height: calc(100% - 200px);
  // background-color: rgb(245, 245, 245);
  background-color: #f5f5f5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.636);
  color: #444A53;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-4 {
  font-style: italic;
  letter-spacing: .1rem;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.lead{
  letter-spacing: .2rem;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.text-break {
  width: 95%;
  padding-bottom: 1rem;
}

.card-title {
  letter-spacing: .05rem;
}




@media (max-width: 960px) {
  .card {
    width: 100%;
    margin: auto;
  }
  .text-break {
    width: 100%;
    font-size: smaller;
  }
  .lead {
    letter-spacing: .1rem;
    padding-bottom: 1rem;
  }
}