<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    
    <mat-toolbar><img class="logo" src="assets/home-images/DSTrans6.png" alt="Digital Steve"></mat-toolbar>

    <mat-nav-list>
      <mat-icon mat-list-icon>resume</mat-icon>
      <a mat-list-item routerLink="/home" routerLinkActive="active" [ngClass]="{'inactive': !isActive('/home')}" [disableRipple]="true">
        <div class="nav-link">
          <mat-icon mat-list-icon class="custom-size-mat-icon">home</mat-icon>
          <p>Home</p>
        </div>
      </a>
      <a mat-list-item routerLink="/projects" routerLinkActive="active" [ngClass]="{'inactive': !isActive('/home')}" [disableRipple]="true">
        <div class="nav-link">
          <mat-icon mat-list-icon class="custom-size-mat-icon">computer</mat-icon>
          <p>Projects</p>
        </div>
      </a>
      <a mat-list-item routerLink="/resume" routerLinkActive="active" [ngClass]="{'inactive': !isActive('/resume')}" [disableRipple]="true">
        <div class="nav-link">
          <mat-icon mat-list-icon class="custom-size-mat-icon">work</mat-icon>
          <p>Resume</p>
        </div>
      </a>
    </mat-nav-list>

  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <div id="header">
        <p>Stephen Yuhas</p>
        <div id="header-links">
          <img src="/assets/home-images/git.png" alt="">
          <img src="/assets/home-images/linkedin.png" alt="">
          <img src="/assets/home-images/email.png" alt="">
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
