.card {
    min-height: 20vh;
    background-color: rgb(245, 245, 245);

}
.title {
    min-height: 3vw;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: rgba(0, 0, 255, 0.75);
}

img {
    max-height: 18vh;
}